body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.carousel-card {
    max-width: 500px;
    padding-left: 5px;
!important;
    padding-right: 5px;
!important;
}

.zagolovok {
    padding-left: 10px;
}

.navbar-font {
    top: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #616161
}

#main_carousel {
    min-height: 534px;
!important;
}

.header-navbar {
    position: fixed;
    z-index: 5;
!important;
}

.search-bar {
    width: 100%;
    left: 10%
}

.link-img {
    max-height: 40px;
    margin: 2px;
}

.opencard {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.logoicon {
    max-height: 54px;
    margin-top: 5px;
    padding-left: 10%;
}
