body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.carousel-card {
    max-width: 500px;
    padding-left: 5px;
!important;
    padding-right: 5px;
!important;
}

.zagolovok {
    padding-left: 10px;
}

.navbar-font {
    top: 0;
    font-weight: 700;
    font-size: 15px;
    color: #616161
}

#main_carousel {
    min-height: 400px;
!important;
}

.header-navbar {
    position: fixed;
    z-index: 5;
!important;
}

.search-bar {
    width: 100%;
    left: 10%
}

.link-img {
    max-height: 40px;
    margin: 2px;
}

.opencard {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.logoicon {
    max-height: 44px;
    margin-top: 5px;
    padding-left: 10%;
}
.icon-carousel{

}
.icon-carousel-text{
    padding-top: 10px;
    font-weight: 500;
    font-size: 18.5px;
}
.navigation-container{
    width: 65%;
    margin-top: -50px;
    text-align: center;
    margin-bottom: 0; !important;
}
